@import url("./lib/jquery.jgrowl.css");

.office-message-success  {background-color: green !important;}
.office-message-error  {background-color: brown !important;}
.office-message-info  {background-color: black !important;}

form.x-panel-body,
.x-toolbar .x-form-field {margin: 0;}

.x-panel-body .x-form-field:focus {border: 1px solid #CCCCCC; box-shadow: none;}
.x-panel-body label {display: inline;}
.x-menu ul.x-menu-list {margin:0; padding:0;}
.x-selectable, .x-selectable * {
	-webkit-user-select: text !important;
	-o-user-select: text !important;
	-khtml-user-select: all !important;
	-ms-user-select: text !important;
	user-select: text !important;
	-moz-user-select: text !important;
}

.x-panel-body input[disabled],
.x-panel-body select[disabled],
.x-panel-body textarea[disabled],
.x-panel-body input[readonly],
.x-panel-body select[readonly],
.x-panel-body textarea[readonly] {
	cursor: default;
}

ul.x-tab-strip-top {
	margin: 0 !important;
	padding: 0 !important;
}

*[class*="x-"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.x-panel-btns .x-btn-mc em > button {min-width: 54px;}
.x-panel label.desc-under {font-weight: normal; padding-top: 5px;}
.x-panel .disabled {color: #AAA !important;}
.x-btn-mc em, .x-tab-strip em {font-style: normal;}
.ext-strict .x-form-field-trigger-wrap input.x-form-text {border:none;}

#office-preloader {
	background: url(images/preloader.gif) center no-repeat;
	height: 128px;
}

ul.office-row-actions {margin:0; padding: 0; list-style: none;}
ul.office-row-actions li {float:left;}
ul.office-row-actions .btn {padding: 5px;margin-right:5px;}